node_modules/*
rapport/*
public/*
package-lock.json
package.json

.vscode

!composition.json
build/*
.parcel-cache
*.js
!src/html.js
*~
*.map
*.png
!rapport/images/*
!enseirb-footer.png
.env.sh
.ccls-cache
!*.test.js
*.aux
*.log
*.toc

.cache